.container{
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 52px;
    bottom: 0;
}

.link{
    display: flex;
    margin-top: 40px;
}

@media screen and (max-width: 750px){
    .link{
        flex-wrap: wrap;
    }
}

.link a{
    font-size: 12px;
    text-decoration: none;
    color: gray;
    margin-right: 16px;
}

.info {
    display: flex;
}

.info p{
    font-size: 12px;
    text-decoration: none;
    color: gray;
}