.container {
  background-color: rgba(0, 0, 0, 0.85);
  overflow-y: auto;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.closeMenu {
  font-size: 40px;
  position: absolute;
  right: 20px;
  top: 10px;
  z-index: 1;
  color: #ffffff;
  padding: 8px;
}

.postsContainer {
  max-width: 1338;
  max-height: 889px;
  border: 1px solid rgba(219, 219, 219, 1);
  display: flex;
  width: auto;
  height: auto;
}

@media screen and (max-width: 750px) {
  .postsContainer {
    border: none;
  }
}

.arrow {
  padding: 10px;
  margin: 0 20px;
  color: #ffffff;
  font-size: 40px;
}

@media screen and (max-width: 450px) {
  .arrow {
    margin: auto;
    font-size: 40px;
  }
}

.imgContainer {
  max-width: 889px;
  max-height: 889px;
}

.imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 1320px) {
  .imgContainer img {
    min-width: 700px;
  }
}

@media only screen and (min-width: 750px) and (max-width: 1319) {
  .imgContainer img {
    min-width: 400px;
  }
}

.infoContainer {
  width: 499px;
  max-height: 889px;
  height: auto;
  background-color: rgba(255, 255, 255, 1);
  border-left: 1px solid rgba(219, 219, 219, 1);
}

@media screen and (max-width: 750px) {
  .infoContainer {
    display: none;
  }
}
